

ul {
  list-style: none;
}

li {
  display: inline-block;
}

#contactMenu ul li {
  position: fixed;
  display: none;
}

#contactMenu:hover ul li{
  font-size: 1.5em;
  position: relative;
  display: block;
}
