a img:active {
  border-style: inset;
}

a:active {
  color: yellow;
}

#contactMenu:hover li{
  color: yellow;
  font-size: 1.5em;
  position: relative;
  display: block;
}

.navbar:hover ul {
  display: block;
}
