
.clearfix {
  content: "";
  color: blue;
  display: table;
  clear: both;
  text-align: center;
  background-color: silver;
}

section {
  display: block;
  text-align: center;
  background-color: hsla(270, 100%, 100%, 0.7);
}
