.clearfix {
  content: "";
  display: table;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  text-align: center;
}

body {
  color: yellow;
  background-color: black;
}

a img {
  border-style: outset;
}

section {
  display: block;
  text-align: center;
}
